.input {
    padding: 12px 8px;
    background: white;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
    pointer-events: none;
}
